.no-data-text h2 {
    font: 700 215% arial,sans-serif;
    background-color: #dbdbdb;
    color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    text-shadow: 1px 3px 0px hsla(0,0%,100%,.5);
    -webkit-background-clip: text;
}